<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="footerFragment">
    <footer class="pt-4 my-md-5 pt-md-5 border-top" style="padding: 0px;">

			<div class="row"
				style="padding: 0px; margin-right: 0px; padding-left: 10px;">
				<div class="col-10 col-md">
					new Project(); <small class=" mb-3 text-muted">&copy;
						2023</small><br><br>
				</div>
				<div class="col-5 col-md">
					<h5>API</h5>
					<ul class="list-unstyled text-small">
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="documentation">Get started</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="changelog">Changelog</a></li>

					</ul>
				</div>
				<div class="col-5 col-md">
					<h5>About</h5>
					<ul class="list-unstyled text-small">
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="about">new Project();</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">Instructors</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">Admin Page</a></li>
						
					</ul>
				</div>
			</div>
		</footer>
</div>
</html>