<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>new Project();</title>
<link rel="icon" type="image/x-icon" href="img/green.ico">
<link rel="shortcut icon" type="image/x-icon" href="img/green.ico">
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Righteous&family=Noto+Sans+KR:wght@500&family=Raleway:wght@900&family=Ubuntu:wght@500&display=swap"
	rel="stylesheet">
<link rel="stylesheet" as="style" crossorigin
	href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
<link rel="stylesheet" href="css/main.css">

</head>
<body>
	<div id="loading">
		<div class="loader">
			<div class="inner one"></div>
			<div class="inner two"></div>
			<div class="inner three"></div>
		</div>
		<div class="loading-text ">
			<small style="font-family: 'Righteous', cursive;">new
				Project();</small>
		</div>
	</div>
	<div class="py-3" style="padding-left: 0px; padding-right: 0px;">
		<header class="container">
			<div class="d-flex flex-column flex-md-row align-items-left mb-4"
				style="padding-bottom: 0px; margin-bottom: 0px; position: static;">
				<a href="index"
					class="d-flex align-items-center text-white text-decoration-none"
					style="z-index: 1; display: inline-block; width: 250px;"> <svg
						xmlns="http://www.w3.org/2000/svg" width="30" height="24"
						fill="currentColor" class="bi bi-file-earmark-code"
						viewBox="0 0 16 16">
                    <path
							d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                    <path
							d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708z" />
                  </svg> <span class="fs-4"
					style="font-family: 'Ubuntu', sans-serif;">new Project();</span>
				</a>

				<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto nav"
					style="padding-left: 10px; font-family: 'Noto Sans KR', sans-serif;">
					<a class="me-3 py-2 text-white text-decoration-none" href="boardWrite">새
						글 쓰기</a> <a class="me-3 py-2 text-white text-decoration-none" href="blind">익명게시판</a>
					<a th:if="${session.userInfo == null}"
						class="me-3 py-2 text-white text-decoration-none" href="#"
						data-bs-toggle="modal" data-bs-target="#login">로그인</a> <a
						style="display: none;" id="registerBtn" href="#"
						data-bs-toggle="modal" data-bs-target="#test">회원가입</a>
					<!--회원이 아닐경우 닉네임출력 <p th:if="${regiInfo != null}" th:text="${regiInfo['nickname']}"></p> -->

					<a th:if="${session.userInfo != null}"
						class="me-3 py-2 text-white text-decoration-none" href="#"
						th:text='${session.userInfo.getName()}'></a>
					<div style="margin-top: auto; margin-bottom: auto;">
						<img th:if="${session.userInfo != null}"
							th:src='${session.userInfo.getProfileImg()}' width="45"
							height="45" class="rounded-circle me-2">
					</div>
				</nav>
				<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto mobilenav"
					style="position: absolute; width: 90%; margin-top: 0px !important; margin-right: 0px;">
					
					<a th:if="${session.userInfo == null}" data-bs-toggle="modal"
						data-bs-target="#login"
						class="py-2 text-white text-decoration-none" href="#"
						style="float: right; width: 100%; text-align: right; vertical-align: bottom; padding-top: 0px !important;"><b>로그인</b></a>
					<a th:if="${session.userInfo != null}"
						class="py-2 text-white text-decoration-none" href="#"
						style="float: right; width: 100%; text-align: right; vertical-align: bottom; padding-top: 0px !important;"
						></a>
					<div style="margin-top: auto; margin-bottom: auto;">
						<img th:if="${session.userInfo != null}"
							th:src='${session.userInfo.getProfileImg()}' width="45"
							height="45" class="rounded-circle me-2">
					</div>
				</nav>
			</div>
		</header>
		
		<main class="container">
			<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
				<h1 class="display-4 fw-normal">익명게시판</h1>
				<p class="fs-5 text-muted">그린컴퓨터 익명커뮤니티입니다.</p>
<hr>
			</div>
			
			<fieldset class="writeform"  style="min-height: 500px; max-width: 80%; margin-left: auto; margin-right: auto;">
			<form action="blindWrite" method="post">
			<input th:if="${session.userInfo != null}" type="hidden" name="writer" th:value="${session.userInfo.getNickName()}">
	<input type="text" name="title" class="form-control mt-4 mb-2" autocomplete="off"
		placeholder="제목을 입력해주세요." required
	>
	<div class="form-group">
		<textarea id="editor" class="form-control" rows="20" name="content"
			placeholder="내용을 입력해주세요" required
		></textarea>
	</div>
	<button type="submit" class="btn btn-secondary mb-3" onclick="saveGallery();" style="margin-top: 15px; float: right;">제출하기</button>
</form>

</fieldset>
			

			
			<div class="modal fade" id="login" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="margin-top: 20%;">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">new
								Project();</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div style="text-align: center;">
								<a
									href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=3ed402e0c9996c2d84bd716afed91789&redirect_uri=https://tomcat.jikwang.net/ctor/oauth">
									<img alt="" src="./img/kakao.png">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="test" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="margin-top: 20%;">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">new
								Project();</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<th:block>
								<div style="text-align: center;">
									<fieldset id="page1">
										<h3>안녕하세요 처음오셨군요!</h3>
										<h5 th:if="${regiInfo != null}"
											th:text="${regiInfo['nickname']}+'님은..'"></h5>

											<form action="register" method="POST">
											<div class="d-grid gap-3 col-6 mx-auto">
												<button class="btn btn-primary" id="isStudent"
													value="student" type="button"
													onClick="checkValue(this.form.isStudent.value)">학생입니다.</button>
												<button class="btn btn-primary" id="isTeacher"
													value="teacher" type="button"
													onClick="checkValue(this.form.isTeacher.value)">강사입니다.</button>
										</div>
									</fieldset>
									<fieldset id="page2" style="display: none;">
										<h3 id="page2title"></h3>
										<select class="form-select form-select-lg mb-3" id="subject"
											name="subject" aria-label=".form-select-lg example">
											<option value="javaFullStack">Open API를 활용한 JAVA 풀스택
												과정</option>
											<option value="uiUx">UI/UX 과정</option>
											<option value="webDesigner">웹디자이너 과정</option>
										</select>
										<button class="btn btn-primary" id="page2submit"
											value="teacher" type="button"
											onClick="checkpage2Value(this.form.subject.value)">다음</button>
									</fieldset>
									<fieldset id="page3" style="display: none;">
										<h3>
											마지막입니다.🎉
											</h3>
												<h5>사용할 닉네임을 입력해주세요</h5>
												<div class="input-group input-group-lg">
													<span class="input-group-text" id="inputGroup-sizing-lg">@</span>
													<input type="text" class="form-control" name="nickName"
														aria-label="Sizing example input"
														aria-describedby="inputGroup-sizing-lg">
												</div>
												<input type="hidden" id="submitGrade" name="grade">
												<input th:if="${regiInfo != null}" type="hidden"
													name="profileImg" th:value="${regiInfo['profileImg']}">
												<input th:if="${regiInfo != null}" type="hidden" name="name"
													th:value="${regiInfo['nickname']}"> <input
													th:if="${regiInfo != null}" type="hidden" name="email"
													th:value="${regiInfo['email']}">
													<br>
												<button class="btn btn-primary" type="submit">회원가입!</button>
									</fieldset>
									</form>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>

		</main>

		<footer class="pt-4 my-md-5 pt-md-5 border-top" style="padding: 0px;">

			<div class="row"
				style="padding: 0px; margin-right: 0px; padding-left: 10px;">
				<div class="col-10 col-md">
					new Project(); <small class="d-block mb-3 text-muted">&copy;
						2023</small>
				</div>
				<div class="col-5 col-md">
					<h5>적당한</h5>
					<ul class="list-unstyled text-small">
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">푸터내용을</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">입력해보자</a></li>

					</ul>
				</div>
				<div class="col-5 col-md">
					<h5>About</h5>
					<ul class="list-unstyled text-small">
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">여기도</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">적당한것을</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">입력</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">해보자</a></li>
					</ul>
				</div>
			</div>
		</footer>
		<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top"
			role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16"
				height="16" fill="currentColor" class="bi bi-arrow-up"
				viewBox="0 0 16 16">
  <path fill-rule="evenodd"
					d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
</svg></a>
	</div>
<!--스크립트단 -->
<script src="js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(function() {
    CKEDITOR.replace('editor',{
        filebrowserUploadUrl: 'blind/imgUpload',
        font_names : "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana",
        font_defaultLabel : "맑은 고딕/Malgun Gothic",
        fontSize_defaultLabel : "12",
        height : '300px',
        skin : "dark",
        language : "ko"
    });

    // ...
});

// ...

function saveGallery() {

    if (!confirm("저장하시겠습니까?")) {
        return;
    }

     var formData = new FormData();

    formData.append("deleteFiles", deleteFileList);
    formData.set("contents", CKEDITOR.instances.contents.getData());

    for (var i = 0; i < inputFileList.length; i++) {
        if(!inputFileList[i].is_delete){
             formData.append("files", inputFileList[i]);
        }
    }

    for (var pair of formData.entries()) {
        console.log(pair[0]+ ', ' + pair[1]);
    }

    $.ajax({
        type : "POST",
        enctype : "multipart/form-data",
        url : "/gallery",
        data : formData,
        dataType:"json",
        processData : false,
        contentType : false,
        success : function(result) {
            if (result.response == "OK") {
                    alert("저장되었습니다.");
                location.href = "blind"
            } else {
                alert(result.errorMsg);
            }
        },
    });
}
/*]]>*/
</script>
<!--에디터 스크립트 끝-->
	<script>
		var type;
		var subject;

		function checkValue(memberType) {

			type = memberType;
			document.getElementById("page1").style.display = 'none';
			document.getElementById("page2").style.display = 'block';
			document.getElementById("page2title").innerHTML = (type == "student" ? "학생"
					: "강사님")
					+ '이시군요! <br> 지금 진행중인 or 관심있는 과정을 선택해주세요.';
		}
		function checkpage2Value(subjectType) {
			subject = subjectType;
			document.getElementById("submitGrade").setAttribute("value", type);
			document.getElementById("page2").style.display = 'none';
			document.getElementById("page3").style.display = 'block';
		}
	</script>
	<script th:inline="javascript">
		$(document).ready(function() {
			var emailval = /*[[${regiInfo}]]*/"";
			if (emailval != null) {
				$('#test').modal('show');
			}
			$(window).scroll(function() {
				if ($(this).scrollTop() > 50) {
					$('#back-to-top').fadeIn();
				} else {
					$('#back-to-top').fadeOut();
				}
			});
			// scroll body to 0px on click
			$('#back-to-top').click(function() {
				$('body,html').animate({
					scrollTop : 0
				}, 400);
				return false;
			});
		});
	</script>
	<script>
		setTimeout(function() {
			$('#loading').hide();
		}, 1000);
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>
</html>