<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>new Project();</title>
<link rel="icon" type="image/x-icon" href="img/menu.png">
<link rel="shortcut icon" type="image/x-icon" href="img/menu.png">
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Righteous&family=Noto+Sans+KR:wght@500&family=Raleway:wght@900&family=Ubuntu:wght@500&display=swap"
	rel="stylesheet">
<link rel="stylesheet" as="style" crossorigin
	href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
<link rel="stylesheet" href="css/main.css">

</head>
<body>
	<div id="loading">
		<div class="loader">
			<div class="inner one"></div>
			<div class="inner two"></div>
			<div class="inner three"></div>
		</div>
		<div class="loading-text ">
			<small style="font-family: 'Righteous', cursive;">new
				Project();</small>
		</div>
	</div>
	<div class="py-3" style="padding-left: 0px; padding-right: 0px;">
		<th:block th:replace="fragments/header :: headerFragment"></th:block>
		
		<main class="container">
			<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
				<h1 class="display-4 fw-normal">Changelog</h1>
				<p class="fs-5 text-muted">Github Commits List</p>

			</div>
			

<div class="list-group w-auto" >
  <a th:each="map : ${list}" href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div style="width: 100%">
        <h6 class="mb-0">[[${map.name}]]<small style="float: right;" class="opacity-50 text-nowrap" th:text="${map.date}"></small></h6>
        <p class="mb-0 opacity-75" th:text="${map.message}"></p>
      </div>
      
    </div>
  </a>
</div>
		<br><br>	
			
			<th:block th:replace="fragments/modal :: modalFragment"></th:block>

		</main>

		<th:block th:replace="fragments/footer :: footerFragment"></th:block>
		<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top"
			role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16"
				height="16" fill="currentColor" class="bi bi-arrow-up"
				viewBox="0 0 16 16">
  <path fill-rule="evenodd"
					d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
</svg></a>
	</div>

	<script>
		var type;
		var subject;

		function checkValue(memberType) {

			type = memberType;
			document.getElementById("page1").style.display = 'none';
			document.getElementById("page2").style.display = 'block';
			document.getElementById("page2title").innerHTML = (type == "student" ? "학생"
					: "강사님")
					+ '이시군요! <br> 지금 진행중인 or 관심있는 과정을 선택해주세요.';
		}
		function checkpage2Value(subjectType) {
			subject = subjectType;
			document.getElementById("submitGrade").setAttribute("value", type);
			document.getElementById("page2").style.display = 'none';
			document.getElementById("page3").style.display = 'block';
		}
	</script>
	<script th:inline="javascript">
		$(document).ready(function() {
			var emailval = /*[[${regiInfo}]]*/"";
			if (emailval != null) {
				$('#test').modal('show');
			}
			$(window).scroll(function() {
				if ($(this).scrollTop() > 50) {
					$('#back-to-top').fadeIn();
				} else {
					$('#back-to-top').fadeOut();
				}
			});
			// scroll body to 0px on click
			$('#back-to-top').click(function() {
				$('body,html').animate({
					scrollTop : 0
				}, 400);
				return false;
			});
		});
	</script>
	<script>
		setTimeout(function() {
			$('#loading').hide();
		}, 1000);
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>
</html>