<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>new Project();</title>
<link rel="icon" type="image/x-icon" href="img/green.ico">
<link rel="shortcut icon" type="image/x-icon" href="img/green.ico">
<script src="https://code.jquery.com/jquery-3.6.3.js"
	integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Righteous&family=Noto+Sans+KR:wght@500&family=Raleway:wght@900&family=Ubuntu:wght@500&display=swap"
	rel="stylesheet">
<link rel="stylesheet" as="style" crossorigin
	href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
<link rel="stylesheet" href="css/main.css">

</head>
<body>
	<div id="loading">
		<div class="loader">
			<div class="inner one"></div>
			<div class="inner two"></div>
			<div class="inner three"></div>
		</div>
		<div class="loading-text ">
			<small style="font-family: 'Righteous', cursive;">new
				Project();</small>
		</div>
	</div>
	<div class="py-3" style="padding-left: 0px; padding-right: 0px;">
		<header class="container">
			<div class="d-flex flex-column flex-md-row align-items-left mb-4"
				style="padding-bottom: 0px; margin-bottom: 0px; position: static;">
				<a href="index"
					class="d-flex align-items-center text-white text-decoration-none"
					style="z-index: 1; display: inline-block; width: 250px;"> <svg
						xmlns="http://www.w3.org/2000/svg" width="30" height="24"
						fill="currentColor" class="bi bi-file-earmark-code"
						viewBox="0 0 16 16">
                    <path
							d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                    <path
							d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708z" />
                  </svg> <span class="fs-4"
					style="font-family: 'Ubuntu', sans-serif;">new Project();</span>
				</a>

				<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto nav"
					style="padding-left: 10px; margin-top: 0px !important; font-family: 'Noto Sans KR', sans-serif;">
					<a class="me-3 py-2 text-white text-decoration-none" href="boardWrite">새
						글 쓰기</a> <a class="me-3 py-2 text-white text-decoration-none" href="blind">익명게시판</a>
					<a th:if="${session.userInfo == null}"
						class="me-3 py-2 text-white text-decoration-none" href="#"
						data-bs-toggle="modal" data-bs-target="#login">로그인</a> <a
						style="display: none;" id="registerBtn" href="#"
						data-bs-toggle="modal" data-bs-target="#test">회원가입</a>
					<!--회원이 아닐경우 닉네임출력 <p th:if="${regiInfo != null}" th:text="${regiInfo['nickname']}"></p> -->

					<a th:if="${session.userInfo != null}"
						class="me-3 py-2 text-white text-decoration-none" href="#"
						th:text='${session.userInfo.getName()}'></a>
					<div style="margin-top: auto; margin-bottom: auto;">
						<img th:if="${session.userInfo != null}"
							th:src='${session.userInfo.getProfileImg()}' width="45"
							height="45" class="rounded-circle me-2">
					</div>
				</nav>
				<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto mobilenav"
					style="position: absolute; width: 90%; margin-top: 0px !important; margin-right: 0px;">
					<a th:if="${session.userInfo == null}" data-bs-toggle="modal"
						data-bs-target="#login"
						class="py-2 text-white text-decoration-none" href="#"
						style="float: right; width: 100%; text-align: right; vertical-align: bottom;"><b>로그인</b></a>
					<a th:if="${session.userInfo != null}"
						class="py-2 text-white text-decoration-none" href="#"
						style="float: right; width: 100%; text-align: right; vertical-align: bottom; padding-top: 0px !important;"
						></a>
					<div class="row" style="margin-top: auto; margin-bottom: auto;">
						<img th:if="${session.userInfo != null}"
							th:src='${session.userInfo.getProfileImg()}' width="45"
							height="45" class="rounded-circle me-2">
					</div>
				</nav>
			</div>
		</header>
		<div id="carouselExampleCaptions" class="carousel slide">
			<div class="carousel-indicators">
				<button style="background-color: antiquewhite;" type="button"
					data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
					class="active" aria-current="true" aria-label="Slide 1"></button>
				<button style="background-color: antiquewhite;" type="button"
					data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/img2.png" class="d-block" alt="...">
					<div class="carousel-caption" style="height: 70%;">
						<h1 class="carousel-text">
							<b>Hello World👋</b>
						</h1>
						<p class="text-white" style="text-align: left;">
							<b>프로젝트,스터디 제안 플랫폼</b>
						</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="img/img2.png" class="d-block" alt="...">
					<div class="carousel-caption">
						<h5>Second slide label</h5>
						<p class="text-white">Some representative placeholder content
							for the second slide.</p>
					</div>
				</div>
			</div>
		</div>
		<main class="container">
			<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
				<h1 class="display-4 fw-normal">적당한 문구와</h1>
				<p class="fs-5 text-muted">선택할만한 탭을 넣기</p>

			</div>


			<div
				class="row row-cols-1 row-cols-lg-3 row-cols-xl-4 mb-3 text-center"
				style="padding: 0px;">
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light" style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">🗂️프로젝트</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.31</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span class="textLine"><b>스터디를 위한 팀 블로그 서비스를 만드실 분
										모집합니다.</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">프론트엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">디자이너</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/html5-E34F26?style=for-the-badge&logo=html5&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/css3-1572B6?style=for-the-badge&logo=css3&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 256 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 2</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">✏️스터디</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.25</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span class="textLine"><b>서블릿 & JSP 복습 스터디 멤버 구합니다.</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">프론트엔드</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/java-4B4B77?style=for-the-badge&logo=java&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/jsp-FF7800?style=for-the-badge&logo=jsp&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 104 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 2</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px; padding: 0px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">🗂️프로젝트</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.22</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span class="textLine"><b>스프링부트 & 타임리프 복습용 게시판 프로젝트
										인원 모집</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">프론트엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">디자이너</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/html5-E34F26?style=for-the-badge&logo=html5&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/Thymeleaf-005F0F?style=for-the-badge&logo=Thymeleaf&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 283 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 3</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px; padding: 0px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">✏️스터디</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.31</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span><b>자바기본부터 다시 복습 스터디 멤버 모집중!</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/java-4B4B77?style=for-the-badge&logo=java&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/jsp-FF7800?style=for-the-badge&logo=jsp&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/Thymeleaf-005F0F?style=for-the-badge&logo=Thymeleaf&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 216 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 1</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">🗂️프로젝트</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.31</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span class="textLine"><b>스터디를 위한 팀 블로그 서비스를 만드실 분
										모집합니다.</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">프론트엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">디자이너</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/html5-E34F26?style=for-the-badge&logo=html5&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/css3-1572B6?style=for-the-badge&logo=css3&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 256 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 2</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">✏️스터디</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.25</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span class="textLine"><b>서블릿 & JSP 복습 스터디 멤버 구합니다.</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">프론트엔드</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/java-4B4B77?style=for-the-badge&logo=java&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/jsp-FF7800?style=for-the-badge&logo=jsp&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 104 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 2</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px; padding: 0px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">🗂️프로젝트</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.22</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span class="textLine"><b>스프링부트 & 타임리프 복습용 게시판 프로젝트
										인원 모집</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">프론트엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">디자이너</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/html5-E34F26?style=for-the-badge&logo=html5&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/Thymeleaf-005F0F?style=for-the-badge&logo=Thymeleaf&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 283 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 3</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px; padding: 0px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">✏️스터디</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.31</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span><b>자바기본부터 다시 복습 스터디 멤버 모집중!</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/java-4B4B77?style=for-the-badge&logo=java&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/jsp-FF7800?style=for-the-badge&logo=jsp&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/Thymeleaf-005F0F?style=for-the-badge&logo=Thymeleaf&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 216 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 1</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">🗂️프로젝트</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.31</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span class="textLine"><b>스터디를 위한 팀 블로그 서비스를 만드실 분
										모집합니다.</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">프론트엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">디자이너</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/html5-E34F26?style=for-the-badge&logo=html5&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/css3-1572B6?style=for-the-badge&logo=css3&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 256 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 2</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">✏️스터디</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.25</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span class="textLine"><b>서블릿 & JSP 복습 스터디 멤버 구합니다.</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">프론트엔드</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/java-4B4B77?style=for-the-badge&logo=java&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/jsp-FF7800?style=for-the-badge&logo=jsp&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 104 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 2</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px; padding: 0px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">🗂️프로젝트</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.22</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span class="textLine"><b>스프링부트 & 타임리프 복습용 게시판 프로젝트
										인원 모집</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">프론트엔드</span>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">디자이너</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/html5-E34F26?style=for-the-badge&logo=html5&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/Thymeleaf-005F0F?style=for-the-badge&logo=Thymeleaf&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 283 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 3</small>
							</span>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-4 rounded-4 shadow-sm"
						style="margin-left: 5px; margin-right: 5px; padding: 0px;">
						<div class="card-header py-3">
							<span class="badge text-bg-light"
								style="color: dimgrey !important; float: left; margin-left: 10px; margin-top: 10px;">✏️스터디</span>
						</div>
						<div class="card-body">
							<small class="text-muted fw-light">마감일 | 2023.03.31</small>
							<ul class="list-unstyled mt-3 mb-4">
								<span><b>자바기본부터 다시 복습 스터디 멤버 모집중!</b></span>
								<br>
								<span class="badge"
									style="margin-top: 20px; color: black; background-color: lightgray">백엔드</span>
							</ul>
							<div style="padding-bottom: 10px; min-height: 58px;">
								<img
									src="https://img.shields.io/badge/java-4B4B77?style=for-the-badge&logo=java&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/jsp-FF7800?style=for-the-badge&logo=jsp&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white"
									height="20px;"> <img
									src="https://img.shields.io/badge/Thymeleaf-005F0F?style=for-the-badge&logo=Thymeleaf&logoColor=white"
									height="20px;">
							</div>
							<hr>
							<img src="./img/green.png" alt="" width="25" height="25"
								class="rounded-circle me-2"> <span><b>문지광</b></span> <span
								style="float: right"> <b></b> <svg
									xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
  <path
										d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
</svg><small> 216 </small> <svg xmlns="http://www.w3.org/2000/svg" width="16"
									height="16" fill="currentColor" class="bi bi-chat"
									viewBox="0 0 16 16">
  <path
										d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
</svg> <small> 1</small>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="login" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="margin-top: 20%;">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">new
								Project();</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div style="text-align: center;">
								<a
									href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=3ed402e0c9996c2d84bd716afed91789&redirect_uri=https://tomcat.jikwang.net/ctor/oauth">
									<img alt="" src="./img/kakao.png">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="test" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="margin-top: 20%;">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">new
								Project();</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<th:block>
								<div style="text-align: center;">
									<fieldset id="page1">
										<h3>안녕하세요 처음오셨군요!</h3>
										<h5 th:if="${regiInfo != null}"
											th:text="${regiInfo['nickname']}+'님은..'"></h5>

											<form action="register" method="POST">
											<div class="d-grid gap-3 col-6 mx-auto">
												<button class="btn btn-primary" id="isStudent"
													value="student" type="button"
													onClick="checkValue(this.form.isStudent.value)">학생입니다.</button>
												<button class="btn btn-primary" id="isTeacher"
													value="teacher" type="button"
													onClick="checkValue(this.form.isTeacher.value)">강사입니다.</button>
										</div>
									</fieldset>
									<fieldset id="page2" style="display: none;">
										<h3 id="page2title"></h3>
										<select class="form-select form-select-lg mb-3" id="subject"
											name="subject" aria-label=".form-select-lg example">
											<option value="javaFullStack">Open API를 활용한 JAVA 풀스택
												과정</option>
											<option value="uiUx">UI/UX 과정</option>
											<option value="webDesigner">웹디자이너 과정</option>
										</select>
										<button class="btn btn-primary" id="page2submit"
											value="teacher" type="button"
											onClick="checkpage2Value(this.form.subject.value)">다음</button>
									</fieldset>
									<fieldset id="page3" style="display: none;">
										<h3>
											마지막입니다.🎉
											<h3>
												<h5>사용할 닉네임을 입력해주세요</h5>
												<div class="input-group input-group-lg">
													<span class="input-group-text" id="inputGroup-sizing-lg">@</span>
													<input type="text" class="form-control" name="nickName"
														aria-label="Sizing example input"
														aria-describedby="inputGroup-sizing-lg">
												</div>
												<input type="hidden" id="submitGrade" name="grade">
												<input th:if="${regiInfo != null}" type="hidden"
													name="profileImg" th:value="${regiInfo['profileImg']}">
												<input th:if="${regiInfo != null}" type="hidden" name="name"
													th:value="${regiInfo['nickname']}"> <input
													th:if="${regiInfo != null}" type="hidden" name="email"
													th:value="${regiInfo['email']}">
													<br>
												<button class="btn btn-primary" type="submit">회원가입!</button>
									</fieldset>
									</form>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>

		</main>

		<footer class="pt-4 my-md-5 pt-md-5 border-top" style="padding: 0px;">

			<div class="row"
				style="padding: 0px; margin-right: 0px; padding-left: 10px;">
				<div class="col-10 col-md">
					new Project(); <small class="d-block mb-3 text-muted">&copy;
						2023</small>
				</div>
				<div class="col-5 col-md">
					<h5>적당한</h5>
					<ul class="list-unstyled text-small">
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">푸터내용을</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">입력해보자</a></li>

					</ul>
				</div>
				<div class="col-5 col-md">
					<h5>About</h5>
					<ul class="list-unstyled text-small">
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">여기도</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">적당한것을</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">입력</a></li>
						<li class="mb-1"><a
							class="link-secondary text-decoration-none" href="#">해보자</a></li>
					</ul>
				</div>
			</div>
		</footer>
		<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top"
			role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16"
				height="16" fill="currentColor" class="bi bi-arrow-up"
				viewBox="0 0 16 16">
  <path fill-rule="evenodd"
					d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
</svg></a>
	</div>

	<script>
		var type;
		var subject;

		function checkValue(memberType) {

			type = memberType;
			document.getElementById("page1").style.display = 'none';
			document.getElementById("page2").style.display = 'block';
			document.getElementById("page2title").innerHTML = (type == "student" ? "학생"
					: "강사님")
					+ '이시군요! <br> 지금 진행중인 or 관심있는 과정을 선택해주세요.';
		}
		function checkpage2Value(subjectType) {
			subject = subjectType;
			document.getElementById("submitGrade").setAttribute("value", type);
			document.getElementById("page2").style.display = 'none';
			document.getElementById("page3").style.display = 'block';
		}
	</script>
	<script th:inline="javascript">
		$(document).ready(function() {
			var emailval = /*[[${regiInfo}]]*/"";
			if (emailval != null) {
				$('#test').modal('show');
			}
			$(window).scroll(function() {
				if ($(this).scrollTop() > 50) {
					$('#back-to-top').fadeIn();
				} else {
					$('#back-to-top').fadeOut();
				}
			});
			// scroll body to 0px on click
			$('#back-to-top').click(function() {
				$('body,html').animate({
					scrollTop : 0
				}, 400);
				return false;
			});
		});
	</script>
	<script>
		setTimeout(function() {
			$('#loading').hide();
		}, 1000);
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>
</html>